
footer {
    background: #ae3a20;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: 1rem;
}


.footer-content {
    max-width: 800px;
    margin: auto;
}


.footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-links li {
    display: inline;
}

.footer-links a {
    text-decoration: none;
    color: #ff5733;
    font-weight: bold;
    transition: 0.3s;
}

.footer-links a:hover {
    color: white;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    transition: 0.3s;
}

.social-icons img:hover {
    transform: scale(1.1);
}
